.skill-card {
    width: 100%;
    height: auto;
    background-color: white;
    // padding: 10px;

    h3 {
        text-align: center;
    }

    // &__donut {
        
    //     // padding: 50px;
    // }
    // #arc {
    //     margin: 0 15%;
    // }

    &__donut-container {
        width: 80px;
        height:80px;
        margin: auto;
    }

    &__header-bar {
        background-color: #C1C8E4;
        padding: 10px;
        margin-bottom: 20px;
        color: #2f4f4f;
    }

    &__footer-bar {
        height: 20px
    }
}